*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

#container{
    display:grid;
    grid-template-columns: repeat(5,minmax(150px,auto));
    grid-template-rows: repeat(4,minmax(150px,auto));
    margin: 0 auto;
    width:75%;
    color:white;
}

#container div{
    padding:30px;
    background: teal;
    border:1px solid white;
}

.two{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start:1;
    grid-row-end: 4;
}

.two > img{
    object-fit: contain;
    height: 100%;
    width:100%;
}

.o > img{
    object-fit: contain;
    height: 100%;
    width:100%;
}

.t > img{
    object-fit: contain;
    height: 100%;
    width:100%;
}

.f > img{
    object-fit: contain;
    height: 100%;
    width:100%;
}

.fi > img{
    object-fit: contain;
    height: 100%;
    width:100%;
}

.s > img{
    object-fit: contain;
    height: 100%;
    width:100%;
}

.se > img{
    object-fit: contain;
    height: 100%;
    width:100%;
}

.n> img{
    object-fit: contain;
    height: 100%;
    width:100%;
}

.e> img{
    object-fit: contain;
    height: 100%;
    width:100%;
}

.tw> img{
    object-fit: contain;
    height: 100%;
    width:100%;
}

.te> img{
    object-fit: contain;
    height: 100%;
    width:100%;
}

.el> img{
    object-fit: contain;
    height: 100%;
    width:100%;
}